################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Ignore all explicitly local files
*.gitignore.*
